.header__auth, .header__user {
    color: white;
    height: 100%;
    width: 4*$col-abs;
    // margin-left: 1*$col-abs;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    &-link {
        cursor: pointer;
        color: rgba($color: white, $alpha: .8);
        transition: color .3s ease;
        padding: 10px;
        &:hover {
            color: white;
        }
    }
}
.header__user {
    justify-content: center;

    &-name {
        margin-right: 10px;
    }
    &-avatar {
        height: 30px;
        border-radius: 50%;
        margin-right: 10px;
    }
}
