.input {
    margin-bottom: 20px;
    height: 35px;
    width: 100%;
    padding: 10px 14px;
    font-size: 14px;  
    border-radius: 3px;
    border: none;
    &:focus {
        outline: none;
    }
    &__container {
        position: relative;
        margin-top: 0;
        transition: margin .3s ease;
    }
    &__placeholder {
        position: absolute;
        left: 15px;
        top: 6px;
        color: black;
        transition: color .3s ease, transform .3s ease;
        pointer-events: none;

        
    }

    &__container:hover &__placeholder, .input:focus &__placeholder, .input_active &__placeholder {  
        color: white;
        transform: translate(-10px, -37px);
    }

    &_active, &__container:hover {
        margin-top: 20px;
    }
}