@import "./common";

.Layout {
    // background: $primary-violet;
    min-height: 100vh;
    color: white;
}

.scroll-emmiter {
    &::-webkit-scrollbar {
        display: none;
    }
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

