a,
a:active,
a:visited,
a:hover {
    text-decoration: none;
    outline: none;
}

input {
    min-width: 0;
}

@mixin container-fluid {
    padding-left: $grid-side-offset;
    padding-right: $grid-side-offset;
}

@mixin container-fluid-cancel-fix {
    margin-left: 0;
    margin-right: 0;
    width: auto;
    @include container-fluid;
}

.container-fluid {
    @include container-fluid;

    &_fix-left,
    &_fix-right {
        width: calc(100% + calc(-1 * #{$grid-side-offset}));
    }

    &_fix-left {
        padding-right: 0;
        margin-right: $grid-side-offset;
    }

    &_fix-right {
        padding-left: 0;
        margin-left: $grid-side-offset;

        &_mobile {
            @include media-breakpoint-down(sm) {
                padding-left: 0;
                margin-left: $grid-side-offset;
            }
        }
    }
}

.col {
    &__fix-left {
        margin-left: calc(-1 * #{$grid-side-offset});
    }

    &__fix-right {
        margin-right: calc(-1 * #{$grid-side-offset});

        @include media-breakpoint-down(sm) {
            margin-right: 0;
        }
    }
}
.sandwich-open {
    touch-action: none;
    overflow: hidden;
}
.sandwich-open .modal-backdrop {
    display: none;
}

html {
    height: 100%;
    scrollbar-width: none; /* ff */
}

body {
    font-family: $font-roboto;
    height: 100%;
    overflow-y: scroll;
    position: relative;
    color: $color-7;
    transition: all 1s;
    overflow-anchor: none;

    &.preloading {
        position: fixed;
        width: 100%;
    }
    // opera video pop out button hide
    & + div[style] {
        opacity: 0 !important;
        visibility: hidden !important;
    }

    &::-webkit-scrollbar {
        display: none; /* webkit */
    }
}


.col-lg-only-third {
    @include media-breakpoint-only(lg) {
        @include make-col-ready;
        max-width: calc(100% / 3);
        flex-basis: calc(100% / 3);
    }
}

@each $breakpoint-name, $value in $grid-breakpoints {
    .col-#{$breakpoint-name}-2-half-only {
        @include media-breakpoint-only($breakpoint-name) {
            @include make-col-ready;
            max-width: calc(#{100% / $grid-columns * 2.5});
            flex-basis: calc(#{100% / $grid-columns * 2.5});
        }
    }
    .col-#{$breakpoint-name}-1-half-only {
        @include media-breakpoint-only($breakpoint-name) {
            @include make-col-ready;
            max-width: calc(#{100% / $grid-columns * 1.5});
            flex-basis: calc(#{100% / $grid-columns * 1.5});
        }
    }
}

svg .first-color {
    fill: inherit;
}

.barba-container.barba-container-inner {
    padding-top: 220px;

    @include media-breakpoint-down(sm) {
        padding-top: 150px;
    }
}

.section {
    position: relative;
}


$padding: $col-width * 2;
$xl-padding: $col-width * 1.5;
$xxs-padding: 30px;

@mixin offset-left($isPadding: true, $setXss: true) {
    $property: if($isPadding, 'padding', 'margin');

    #{$property}-left: $padding;

    @include media-breakpoint-down(xl) {
        #{$property}-left: $xl-padding;

        @include media-breakpoint-down(xxs) {
            @if($setXss) {
                #{$property}-left: $xxs-padding;
            } @else {
                #{$property}-left: 0;
            }
        }
    }
}

.offset-left {
    @include offset-left;
}

@mixin offset-right($isPadding: true, $setXss: true) {
    $property: if($isPadding, 'padding', 'margin');

    #{$property}-right: $padding;

    @include media-breakpoint-down(xl) {
        #{$property}-right: $xl-padding;

        @include media-breakpoint-down(xxs) {
            @if($setXss) {
                #{$property}-right: $xxs-padding;
            } @else {
                #{$property}-right: 0;
            }
        }
    }
}

.offset-right {
    @include offset-right;
}

.offset-sides {
    @include offset-right;
    @include offset-left;
}

.offset-top-180 {
    padding-top: vh(180);

    @include media-breakpoint-down(lg) {
        padding-top: vhFromJsByPx(70);
    }
}

.offset-bottom-180 {
    padding-bottom: vh(180);

    @include media-breakpoint-down(lg) {
        padding-bottom: vhFromJsByPx(70);
    }
}

.offset-top-90 {
    padding-top: vh(90);

    @include media-breakpoint-down(lg) {
        padding-top: vhFromJsByPx(35);
    }
}

.offset-bottom-90 {
    padding-bottom: vh(90);

    @include media-breakpoint-down(lg) {
        padding-bottom: vhFromJsByPx(35);
    }
}


@media print {
    [data-anim] {
        opacity: 1 !important;
        visibility: visible !important;
        transform: none !important;
    }
    @page {
        margin: 0.5cm !important;
        padding: 0 !important;
        //size: A4 !important;
    }

    .row {
        display: block !important;
        width: 100% !important;
    }
    [class*="col-"] {
        width: 100% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding-left: calc(#{$col-width} * 2) !important;
        padding-right: calc(#{$col-width} * 2) !important;
        max-width: 100% !important;
    }

    [class*="offset-top-"] {
        margin-top: 20px !important;
    }
    [class*="offset-bottom-"] {
        margin-bottom: 20px !important;
    }
}

.no-print {
    @media print {
        display: none!important;
    }
}

.pagebreak {
    page-break-after: always;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;

    @media print {
        position: relative;
        width: auto;
        height: auto;
        margin: 0;
        white-space: normal;
        -webkit-clip-path: none;
        clip-path: none;
        overflow: visible;
    }
}

.lazy {
    opacity: 0;
    transition: all .5s ease-in;
    will-change: opacity;
}

.lazy.loaded {
    opacity: 1;
}

//.simplebar-track {
//    background-color: rgba($color-7, 0.1);
//    cursor: pointer;
//
//    &.simplebar-vertical {
//        width: 2px;
//    }
//
//    &.simplebar-horizontal {
//        height: 2px;
//
//        .simplebar-scrollbar {
//            top: 0;
//        }
//    }
//}
//
//.simplebar-scrollbar {
//    background-color: $color-7;
//    transition: transform 0.1s ease;
//}
//
//.ps {
//    $ps: &;
//
//    & &__rail-x,
//    & &__rail-y {
//        &,
//        &:hover,
//        &:focus,
//        &.ps--clicking {
//            background-color: rgba($color-7, 0.1);
//            border-radius: 0;
//            cursor: pointer;
//            opacity: 1;
//
//            & > #{$ps}__thumb-x {
//                height: 2px;
//                background-color: $color-7;
//            }
//
//            & > #{$ps}__thumb-y {
//                width: 2px;
//                background-color: $color-7;
//            }
//        }
//    }
//
//    & &__rail-x {
//        height: 2px;
//    }
//
//    & &__rail-y {
//        width: 2px;
//    }
//
//    & &__thumb-x,
//    & &__thumb-y {
//        background-color: $color-7;
//        border-radius: 0;
//        //transition: left 0.1s ease;
//    }
//
//    & &__thumb-x {
//        height: 2px;
//        bottom: 0;
//    }
//
//    & &__thumb-y {
//        width: 2px;
//    }
//}
//
//.ps:hover > .ps__rail-x,
//.ps:hover > .ps__rail-y,
//.ps--focus > .ps__rail-x,
//.ps--focus > .ps__rail-y,
//.ps--scrolling-x > .ps__rail-x,
//.ps--scrolling-y > .ps__rail-y {
//    opacity: 1;
//}


::-webkit-scrollbar {
    background-color: rgba($color-7, 0.1);
    border-radius: 0;

    &:horizontal {
        height: 2px;
    }

    &:vertical {
        width: 2px;
    }
}

::-webkit-scrollbar-thumb {
    background-color: $color-7;
    border-radius: 0;

    &:horizontal {
        height: 2px;
    }

    &:vertical {
        width: 2px;
    }
}

.scroller {
    scrollbar-color: $color-7 rgba($color-7, 0);
    scrollbar-width: thin;
}

.content {
    h2 {
        margin-bottom: vh(30);
        @include font-11;
        line-height: 1.1;
        color: $color-6;

        @include media-breakpoint-down(xxs) {
            margin-bottom: 20px;
        }
    }

    p {
        margin-bottom: vh(20);
        @include font-7;
        line-height: 1.6;
        color: $color-7;

        @include media-breakpoint-down(xxs) {
            margin-bottom: 15px;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    ul,
    ol {
        @include font-7;
        line-height: 1.6;

        li {
            margin-bottom: vh(20);

            @include media-breakpoint-down(xxs) {
                margin-bottom: 15px;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    ul {
        padding-left: 20px;
        //list-style: none;
    }

    ol {
        padding-left: 20px;
    }

    &_white {
        color: #ffffff;

        h2 {
            color: #ffffff;
        }

        p {
            color: #ffffff;
        }
    }
}
