.user-menu { 
    height: 100%;
    width: 20px;
    // background: red;
    display: flex;
    align-items: center;

    &__button {
        height: 10px;
        width: 10px;
        border-bottom: 2px solid white;
        border-left: 2px solid white;
        transition: transform .3s ease;
        transform: rotate(-45deg);
    }

    &__body {
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        overflow: hidden;
        padding-top: 60px;
        // background: $dark-grey;
        z-index: -1;
    }
    &__content {
        margin-top: 10px;
        height: 100%;
        width: 100%;
    }
    &__link {
        height: 40px;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0 10px;
        transition: background .3s ease;

        &:hover {
            background-color: black;
        }
    }
}