html,
body,
ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

nav {
  display: flex;
  height: 60px;
  background-color: rgba(131, 131, 131, 0.753);
  justify-content: space-between;
  flex-direction: row;
}
nav ul {
  display: flex;
  flex-direction: row;
}
nav ul li {
  text-align: center;
  padding: 0px 5px 0px 5px;
}
nav ul li a {
  display: block;
  font-weight: bold;
  padding: 0px 5px 0px 5px;
  line-height: 60px;
}
nav ul li a:hover {
  background-color: rgba(80, 80, 80, 0.753);
}
nav #auth_block {
  display: inline;
}
nav #auth_block #reg_button #auth_button {
  display: block;
  font-weight: bold;
  padding: 0px 5px 0px 5px;
  line-height: 60px;
}
nav #auth_block #reg_button #auth_button #reg_button:hover {
  color: rgba(80, 80, 80, 0.753);
}
