.tournament-bracket {
  user-select: none;

  &__iframe {
    width: 100%;
    height: 100%;
    .navbar-brand {
      display: none;
    }
  }
  &__container {
    display: flex;
  }
  &__column {
    width: 210px;
    margin-right: 60px;
    &:last-child {
      margin-right: 0px;
    }
  }
}
.round-header {
  background: black;
  padding: 4px;
  text-align: center;
}

.pair {
  position: relative;
  
  .player1 {
    border-bottom: solid 1px #DADADA;
  }

  &::before {
    content: "";
    position: absolute;
    display: block;
    height: 90px;
    width: 30px;
    border: 5px solid $primary-blue;
    border-left: none;
    width: 265px;
    top: 50%;
    left: -30px;
    z-index: -1;
    transform: translateY(-50%);
  }
  &:last-child::before {
    // content: none;
  }
}

.pair-game {
  margin: 16px 0;
}

.pair1 {
  
}

.pair2 {
  
}

.round1 {
  .pair::before {
    width: 116%;
    left: 0;
  }

}
.round2 {
  // display: none;
  .pair-game:first-child {
    margin-top: 62px;
  }
  .pair-game {
    margin-top: 102px;
  }
  .pair::before {
    height: 177px;
  }
}
.round3 {
  .pair-game:first-child {
    margin-top: 148px;
  }
}
.round4 {
  .pair-game:first-child {
    margin-top: 166px;
  }

}
.round5 {
  
}
.round6 {
  
}

.player {
  display: flex;
  background: #F2F2F2;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  color: black;
  height: 35px;
  padding-left: 10px;
}

.finality,.winner {
  .pair::before {
    height: 0;
    border-bottom: none;
    border-right: none;
  }
}

.winner {
  .pair::before {
    width: 200px;
  }
}