.tournament-title {
  position: relative;

  &__text {
    font-size: 40px;
    text-align: center;
    color: black;
    background: rgba(white, 0.9);
    padding-bottom: 7px;
    margin-top: 0;
    // border-radius: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    min-height: 61px;
  }

  &__progress {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    height: 8px;
    width: 100%;
    // background: red;
    background: rgba($primary-blue,0.5);

    
    &-container {
      position: relative;
      height: 100%; width: 100%;
      display: flex;
      justify-content: space-between;
    }

    &-first-line {
      width: 70%;  height: 100%;
      background: $primary-blue;
    }
    &-second-line {
      width: 30%;  height: 100%;
      background: rgba($primary-blue,0.5);
      background: $primary-blue;

    }
  }

}