.game-icon-slider {

  display: flex;


  .swiper-container {
    border-radius: 4px;
  }

  .swiper-slide:last-child .game-icon{
    margin-right: 0;
  }

  &__slide {
    width: auto !important;
  }
}